{% extends "base.html" %}

{% set aspect = "index" %}


{% block scripts %}
{{ super() }}

<script type="text/javascript">

  $(document).ready(function() {
      
      console.log('ready');
      
      {{ sparql_to_table('describe') }}
      
  });

</script>
	 
{% endblock %}


{% block content %}

<h2><a name="describe">Table</a></h2>

<table class="table table-hover" id="describe-table"></table>


<h2>Describe graph</h2>

<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" id="describe-iframe" src=""></iframe>
</div>

{% endblock %}
	
